@CHARSET "ISO-8859-1";

body {
background-image: url(../images/background.jpg);
}

.main{
	background-color: rgba(255,255,255,0.6);
	
	margin-top:10px;
 	margin-bottom:10px;
 	margin-left:15%;
 	margin-right:15%;

	padding:10px;
	
	border-style: solid;
	border-radius: 20px;
	border-color: black;
	border-width: thin;

}

h1{
	text-align: center;
	color: Black;
	font-family: cursive;
	text-shadow: 0 0 2px #000000;
	font-size:30px;
	font-style: italic;
	font-weight: lighter;
	}
	
.dtStyle.ui-datatable-data{
background-color: Hotpink!important;

}