@CHARSET "ISO-8859-1";

body {
	background-color: #58657a;
	background-attachment: fixed;
	margin : 0px 0px 0px 0px;
}

.main {
	background-color: white;
	margin-top: 70px;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
	box-shadow: 0px 0px 10px;
	height:1000px;
}

.navbar{
	background-color: white;
	box-shadow: 0px 0px 10px;
	width:100%;
	position:fixed;
	top: 0;
	height: 50px;
}

.ui-menu {
	background-image: none;
	background-color: rgba(0,0,0,0);
	border: none;
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
}

.ui-menu-list
{
	background-color: white!important;
	background-image: none!important;
	box-shadow: 0px 0px 10px!important;
	border-radius: 0px !important;
}

.ui-menuitem-active:hover
{
	background-color: hotpink!important;
}

a .ui-menuitem-active
{
	background-color: green!important;
}



h1 {
	text-align: center;
	color: Black;
	font-family: sans-serif;
	/* 	text-shadow: 0 0 2px #000000; */
	font-size: 30px;
	font-style: normal;
	font-weight: 900;
}

.ui-datatable {
	border: solid;
	border-color: black;
	border-width: thin;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	background-color: rgba(0, 0, 0, 0);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0));
	font-size: 75%;
	font-family: cursive;
	font-style: oblique;
	border: solid;
	border-color: black;
	border-width: thin;
}

.ui-datatable body td {
	border: solid;
	border-color: black;
	border-width: thin;
}